

.task-page {
  background-color: #1c1c1c;
  color: #f2f2f2;
  padding: 20px; /* Reduced padding to avoid overlapping */
  border-radius: 10px;
  max-width: 400px;
  font-family: "Arial", sans-serif;
  margin: auto; /* Center align the container */
  box-sizing: border-box; /* Include padding in height calculations */
  overflow: hidden; /* Allow scrolling inside the container, not the whole page */
  height: calc(100vh - 60px); /* Subtract the height of the navbar to fit the screen */
}


h2 {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.form-group {
  padding: 5px;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 14px;
  color: #f2f2f2;
}

input,
textarea,
select,
button.category-btn,
button.date-btn {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}

button.category-btn,
button.date-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.category-btn:hover,
.date-btn:hover {
  background-color: #444;
}

textarea {
  resize: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #f05454;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.cancel-btn {
  background-color: #555;
  color: #f2f2f2;
}

.cancel-btn:hover {
  background-color: #666;
}

.confirm-btn {
  background-color: #f05454;
  color: #fff;
}

.confirm-btn:hover {
  background-color: #ff6666;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20vh;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #f2f2f2;
}
