.container {
  align-items: center;
  justify-content: center;
  height: 85vh !important;
  width: 85vw !important;
  max-width: 85vw !important;
 background-color: #242424 !important;
}

.btn {
  font-size: 16px;
  padding: 10px;
}

textarea {
  resize: none;
}
